html {
font-family: 'Signika', sans-serif;
background-color: #ffece6;
}
body {
  width: 600px;
  margin: 0 auto;
}
h1 {
  font-weight: lighter;
  font-style: oblique;
  margin-left: 20px;
  text-decoration: underline;
  text-shadow: 0 0 1px gray;
}
ol {
  line-height: 25px;
  margin-right: 250px;
}
ul {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  margin-right: 250px;
  margin-left: 50px;
}
